name: ci-test

on:
  # Triggers the workflow on push events only.
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    name: "Update test env"
    runs-on: ubuntu-latest
    environment:
      name: test
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js runtime
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Setup dependencies
        run: yarn

      - name: Build dapp
        env:
          NODE_OPTIONS: --max_old_space_size=8192
          BROWSER: none
          HTTPS: true
          REACT_APP_LOG_LEVEL: info
          REACT_APP_STL_DEVCON: 1
          NODE_ENV: development
          REACT_APP_MODE: stage
          REACT_APP_API_URL: ${{ secrets.REACT_APP_API_URL }}
          REACT_APP_EXPIRATION_GAP: ${{ secrets.REACT_APP_EXPIRATION_GAP }}
          REACT_APP_HOTJAR_ID: ${{ secrets.REACT_APP_HOTJAR_ID }}
                    REACT_APP_DISABLE_FEATURES: false

        run: |
          rm -rf ./build
          yarn build

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: './build'
          production-branch: main
          production-deploy: true
          enable-pull-request-comment: false
          enable-commit-comment: false
          overwrites-pull-request-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1
